body{
    margin: 0;
}

#container{
    cursor: pointer;
}

#reload{
  cursor: pointer;
  top: 15px;
  left: 21px;
}

[src='img/btn.png']{
  top: 128px;
  left: 730px;
  width: 120px;
  position: absolute;
  cursor: pointer;
  visibility: hidden;
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

